* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 98vw;
}

video {
    width: 100%;
    height: 100%;
}